body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

ul,
li,
ol {
	list-style: none;
}

img,
fieldset {
	border: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
	background: #f9f9f9;
}

input,
a {
	outline: none;
}

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.index-phone {
	font-style: normal;
	font-family: iconfont;
	color: #fa4b9b;
}

.header-wrap {
	width: 100%;
	background: #f2f2f2;
}

.header {
	width: 1100px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
}

.header a {
	line-height: 30px;
	color: #666;
}

.header a:hover {
	color: #fa4b9b;
}

.index-list {
	float: right;
	line-height: 30px;
}

.index-list li {
	float: left;
	color: #666;
}

.index-list li a {
	float: left;
	margin: 0 10px;
}

.index-list li em {
	font-style: normal;
}

.index-top-wrap {
	height: 100%;
	background: #fff;
}

.index-top {
	width: 1100px;
	height: 88px;
	padding: 20px 0 25px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin-top: 10px;
}

.index-fr {
	float: right;
}

.index-search {
	margin-top: 28px;
	float: left;
}

.index-input input:first-child {
	float: left;
	width: 383px;
	height: 18px;
	padding: 6px 0;
	border: 2px solid #fa4b9b;
	margin-right: -2px;
}

.index-input input:last-child {
	float: left;
	width: 90px;
	height: 34px;
	background: #fa4b9b;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
	cursor: pointer;
}

.search-words a {
	height: 12px;
	float: left;
	margin-top: 5px;
	line-height: 12px;
	padding: 0 12px;
	color: #666;
	border-left: 1px solid #d7d7d7;
}

.search-words a:first-child {
	border: none;
}

.search-words .pinkcolor {
	color: #fa4b9b;
}

.search-words a:hover {
	color: #fa4b9b;
}

.shop {
	float: left;
	margin: 28px 30px 0 28px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.shop em {
	font-style: normal;
	font-family: iconfont;
	width: 36px;
	height: 34px;
	float: left;
	font-size: 16px;
	color: #fff;
	background: #fa4b9b;
}

.shop span {
	width: 100px;
	height: 34px;
	float: left;
	font-size: 16px;
}

.index-nav-wrap {
	width: 100%;
	background: #ff3893;
}

.index-nav {
	width: 1100px;
	margin: 0 auto;
}

.index-nav-ul {
	margin-left: 230px;
	width: 870px;
	height: 46px;
	line-height: 46px;
}

.index-nav-ul li {
	float: left;
	height: 46px;
}

.index-nav-ul li a {
	float: left;
	font-size: 16px;
	color: #fff;
	padding: 0 20px;
}

.index-nav-ul li:hover {
	background: #ec0971;
}

.nav-second {
	display: none;
}

.index-nav-ul li:nth-of-type(4) {
	position: relative;
}

.index-nav-ul li:nth-of-type(4) span {
	display: inline-block;
	width: 12px;
	height: 13px;
	font-size: 10px;
	font-family: iconfont;
	margin-left: 5px;
	transition: transform .4s;
}

.index-nav-ul li:nth-of-type(4):hover span {
	transform: scale(-1, 1);
}

.index-nav-ul li .nav-second {
	top: 46px;
	width: 81px;
	position: absolute;
	z-index: 3;
}

.index-nav-ul li .nav-second a {
	width: 81px;
	float: left;
	color: #666;
	background: #fff;
}

.index-nav-ul li .nav-second a:hover {
	color: #fff;
	background: #ff3893;
}

.index-nav-ul li:nth-of-type(4):hover .nav-second {
	display: block;
}

.lunbo {
	width: 100%;
	height: 480px;
	position: relative;
}

.lunbo-pic {
	width: 100%;
	height: 480px;
	overflow: hidden;
}

.lunbo-pic ul li {
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden;
}

.lunbo-nav {
	width: 1100px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -50px;
}

.lunbo-nav ul {
	float: right;
	padding: 5px;
	border-radius: 20px;
	background: rgba(122, 122, 122, 0.4);
}

.lunbo-nav ul li {
	float: left;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.lunbo-nav ul .select {
	background: pink;
}

.index-center {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.index-nav-left {
	position: absolute;
	z-index: 1;
}

.index-nav-title {
	padding-left: 22px;
	width: 208px;
	height: 52px;
	float: left;
	margin-top: -49px;
	line-height: 50px;
	color: #fff;
	background: #ff3893;
	z-index: 2;
}


/*独立内容区块*/

#index-nav-list {
	position: relative;
	width: 230px;
	height: 593px;
	background: rgba(255, 255, 255, 0.7);
	color: #fff;
}

#index-nav-list ul {
	padding: 0 12px;
}

#index-nav-list li {
	width: 186px;
	height: 60px;
	padding: 5px 10px 9px;
	border-top: 1px dashed #969896;
}

#index-nav-list li:nth-of-type(1) {
	border: none;
}

#index-nav-list li strong {
	display: block;
	width: 182px;
	height: 21px;
}

#index-nav-list li p {
	display: block;
	width: 170px;
	height: 36px;
	margin-top: 3px;
}

#index-nav-list li a {
	float: left;
	color: #fb60a7;
	;
	font-size: 14px;
}

#index-nav-list li p a {
	font-size: 12px;
	margin: 2px;
	color: #666;
}

#index-nav-list li p a:hover {
	color: #fb60a7;
}

.navCon {
	width: 870px;
	height: 390px;
	background: white;
	position: absolute;
	display: none;
	left: 230px;
	top: 2px;
}

.navCon-left {
	float: left;
	margin: 15px 25px;
	width: 530px;
	height: 300px;
	min-height: 300px;
	height: auto!important;
}

.navCon-left:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.navCon-left dl {
	width: 250px;
	/*float:left;*/
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.navCon-left dl:nth-of-type(odd) {
	margin-right: 20px;
}

.navCon-left dl dt {
	width: 250px;
	height: 21px;
	line-height: 21px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	border-bottom: 1px solid #969896;
}

.navCon-left dl dd {
	margin: 10px 0;
}

.navCon-left dl dd a {
	line-height: 2;
	margin: 0 5px;
	color: #999999;
}

.navCon-left dl dd a:hover {
	color: #fb60a7;
}

.navCon-right {
	width: 244px;
	float: right;
	margin: 15px 20px 15px 13px;
}

.navCon-right dl dt {
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	padding-bottom: 8px;
}

.navCon-right dl dd {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: -1px;
	margin-bottom: -1px;
	border: 1px solid #969896;
}

.navCon-right dl dd img {
	width: 80px;
	height: 80px;
}

.hot-brand-width {
	width: 1100px;
	margin: 0 auto;
}

.hot-brand {
	width: 860px;
	height: 105px;
	margin-left: 240px;
	margin-top: 10px;
	background: #fff;
}

.hot-brands {
	float: left;
}

.hot-brands a {
	float: left;
	width: 94px;
	margin: 0 12px;
}

.hot-brands a img {
	width: 94px;
}

.hot-brand p {
	width: 56px;
	height: 21px;
	padding: 0 27px;
	line-height: 105px;
	display: block;
	float: left;
	font-size: 14px;
}

.index-ad {
	width: 1100px;
	height: 240px;
	margin: 10px auto;
}

.index-forYou {
	width: 1100px;
	height: 737px;
	margin: 25px auto 0;
	background: white;
}

.index-forYou-tit {
	height: 36px;
}

.index-forYou-tit h3 {
	display: inline-block;
	font-size: 24px;
	font-weight: 900;
}

.index-forYou-tit h3 span {
	font-size: 18px;
	font-weight: 100;
	color: #666666;
	margin-left: 15px;
}

.index-forYou-lists {
	float: left;
	width: 1100px;
	overflow: hidden;
	border-left: 1px solid #969896;
	border-top: 1px solid #969896;
}

.index-forYou-lists a {
	width: 219px;
	float: left;
	/*margin-right:-1px;*/
	background: white;
	/*box-sizing: border-box;*/
	border-right: 1px solid #969896;
	border-bottom: 1px solid #969896;
}

.index-forYou-lists a dl dt {
	width: 219px;
	height: 219px;
}

.index-forYou-lists a dl dt img {
	width: 219px;
	height: 219px;
}

.index-forYou-lists a dl dd {
	height: 115px;
	overflow: hidden;
	position: relative;
}

.index-forYou-tit {
	height: 36px;
	padding: 15px;
	line-height: 18px;
}

.index-forYou-price {
	float: left;
	width: 84px;
	height: 43px;
	margin: 8px 15px 0;
}

.index-forYou-price span:nth-of-type(2) {
	color: #969896;
}

.index-forYou-price em:nth-of-type(1) {
	font-style: normal;
	font-size: 20px;
	color: #ff4a49;
}

.index-forYou-price em:nth-of-type(2) {
	font-style: normal;
	text-decoration: line-through;
	color: #666;
}

.index-forYou-btn {
	display: block;
	width: 36px;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	background: red;
	color: white;
	border-radius: 20px;
	position: absolute;
	right: 5px;
	bottom: 25px;
}

.index-forYou-buy {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.index-today {
	width: 1100px;
	margin: 25px auto;
}

.index-today-tit {
	height: 36px;
	padding: 15px;
	line-height: 18px;
}

.index-today-tit h3 {
	display: inline-block;
	font-size: 24px;
	font-weight: 900;
}

.index-today-tit h3 span {
	font-size: 18px;
	font-weight: 100;
	color: #666666;
	margin-left: 15px;
}

.index-today-lists {
	width: 1098px;
	height: 350px;
	border: 1px solid #CCCCCC;
	padding: 6px 0;
	margin-bottom: 15px;
	background: white;
}

.today-bigPic {
	float: left;
	display: block;
	width: 750px;
	height: 350px;
	margin-left: 6px;
}

.today-bigPic img {
	width: 750px;
	height: 350px;
}

.today-right {
	float: right;
	width: 306px;
	height: 350px;
	padding: 0 18px;
}

.today-right a {
	display: block;
	float: left;
	width: 276px;
	height: 80px;
	margin-top: -1px;
	padding: 18px 15px;
	border-top: 1px dashed #666;
}

.today-right a:nth-of-type(1) {
	border: none;
}

.today-right a:hover p {
	color: #fa4b9b;
}

.today-right-img {
	float: left;
	width: 78px;
	height: 78px;
	border: 1px solid #CCCCCC;
}

.today-right-img img {
	width: 78px;
	height: 78px;
}

.today-right-body {
	width: 184px;
	height: 76px;
	float: right;
}

.today-right-body p {
	margin-top: 5px;
	font-size: 13px;
	color: #404040;
}

.today-right-price span:nth-of-type(1) {
	color: #fa4b9b;
	font-size: 14px;
}

.today-right-price span:nth-of-type(1) em {
	font-style: normal;
	font-size: 18px;
}

.today-right-price span:nth-of-type(2) {
	color: #404040;
	font-size: 14px;
	text-decoration: line-through;
}

.today-right-price span:nth-of-type(2) em {
	font-style: normal;
}

.index-bigBrand {
	width: 1100px;
	margin: 0 auto;
}

.index-bigBrand-tit {
	height: 26px;
	padding-top: 5px;
	line-height: 18px;
}

.index-bigBrand-tit h3 {
	display: inline-block;
	font-size: 24px;
	font-weight: 900;
}

.index-bigBrand-tit h3 span {
	font-size: 18px;
	font-weight: 100;
	color: #666666;
	margin-left: 15px;
}
.index-bigBrand-list{
	width:1100px;
	height:500px;
	min-height:500px;
	height:auto!important;
	margin-bottom:20px;
}
.index-bigBrand-list:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.index-bigBrand-lists{
	width:1100px;
	height:420px;
	margin-top:20px;
	background:white;
}
.bigBrand-tit{
	width:1060px;
	height:80px;
	padding:19px;
}
.bigBrand-tit-left{
	float:left;
	
}
.bigBrand-tit-left a{
	font-size:16px;
	line-height:80px;
	margin-left:100px;
	position: relative;
	color:#666666;
}
.bigBrand-tit-left a span{
	display: inline-block;
	width:80px;
	height:80px;
	border: 1px solid #CCCCCC;
	border-radius:10px;
	position:absolute;
	left:-100px;
}
.bigBrand-tit-left a:hover{
	color:#f72283;
}
.bigBrand-tit-left a span img{
	width:80px;
	margin-top:10px;
}
.bigBrand-tit-right{
	float:right;
	color:#f72283;
	border:1px solid #f72283;
	font-size:14px;
	margin-top:23px;
	padding:10px;
	border-radius: 20px;
}
.bigBrand-body {
	width:1078px;
	padding-left:20px;
}
.bigBrand-body dl{
	width:196px;
	height:274px;
	float:left;
	margin:0 9px;
	position: relative;
}
.bigBrand-body dl dt{
	width:196px;
	height:196px;
}
.bigBrand-body dl dt img{
	width:196px;
	height:196px;
}
.bigBrand-body dl dt span{
	display: block;
	padding:0 10px;
	position:absolute;
	line-height: 24px;
	border-radius:20px;
	border:1px solid #fa4b9b;
	color:#fa4b9b;
	background: rgba(255,255,255,0.6);
	left:50%;
	margin-top:-40px;
	margin-left:-20px;
}
.bigBrand-body dl dd p{
	display: block;
	width:196px;
	height:48px;
	line-height:24px;
	font-size:14px;
	overflow: hidden;
}
.bigBrand-price{
	width:196px;
	height:30px;
}
.bigBrand-price span:nth-of-type(1){
	font-size:14px;
	color:#fa4b9b;
	line-height: 30px;
}
.bigBrand-price span:nth-of-type(1) em{
	font-size:18px;
	font-weight: 800;
	font-style: normal;
}
.bigBrand-price span:nth-of-type(2){
	font-size:14px;
	color:#666666;
	line-height: 30px;
}
.bigBrand-price span:nth-of-type(2) em{
	font-style: normal;
	text-decoration: line-through;
}
