@charset "utf-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-size: 12px;
    font-family: "微软雅黑";
    background: #fff;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.login-box{
    width:965px;
    margin:20px auto 0;
    padding-top:75px;
    .login-left{
        width:620px;
        float:left;
        img{
            margin:0 auto;
        }
    }
    .login-right{
        width:290px;
        padding:20px;
        float:right;
        border:1px solid #CCCCCC;
        border-radius:5px;
        .login-tit{
            line-height:60px;
            span:nth-of-type(1){
                font-size:20px;
                color:#f450a2;
            }
            span:nth-of-type(2){
                font-size:12px;
                color:#f450a2;
                float:right;
                a{
                    margin-left:10px;
                    &:hover{
                        color:#f450a2;
                    }
                }
            }
        }
        .login-form{
            input{
                width:260px;
                padding:8px;
                margin:10px 0;
                &:nth-of-type(2){
                    width:100px;
                }
                
            }
            span{
                margin-left:30px;
                padding:4px 5px;
                background:pink;
                color:#008000;
                border-radius:5px;
            }
            
        }
        .login-tell{
            line-height:30px;
            a{
                color:#F450A2;
            }
        }
        .tip{
            padding:5px 0;
            display: none;
            p{
                padding-left:20px;
                font-size:14px;
                color:red;
            }
        }
        .login-rejister{
            margin:10px 0;
            #tip{
                padding:10px 0;
            }
            button{
                width:100%;
                line-height:46px;
                font-size:22px;
                background:#F450A2;
                color:#fff;
                border: none;
                outline: none;
                border-radius:6px;
                cursor: pointer;
            }
        }
    }
}
