body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

ul,
li,
ol {
	list-style: none;
}

img,
fieldset {
	border: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
	background: #fff;
}

input,
a {
	outline: none;
}

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.index-phone {
	font-style: normal;
	font-family: iconfont;
	color: #fa4b9b;
}

.header-wrap {
	width: 100%;
	background: #f2f2f2;
}

.header {
	width: 1100px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
}

.header a {
	line-height: 30px;
	color: #666;
}

.header a:hover {
	color: #fa4b9b;
}

.index-list {
	float: right;
	line-height: 30px;
}

.index-list li {
	float: left;
	color: #666;
}

.index-list li a {
	float: left;
	margin: 0 10px;
}

.index-list li em {
	font-style: normal;
}

.index-top-wrap {
	height: 100%;
	background: #fff;
}

.index-top {
	width: 1100px;
	height: 88px;
	padding: 20px 0 25px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin-top: 10px;
}

.index-fr {
	float: right;
}

.index-search {
	margin-top: 28px;
	float: left;
}

.index-input input:first-child {
	float: left;
	width: 383px;
	height: 18px;
	padding: 6px 0;
	border: 2px solid #fa4b9b;
	margin-right: -2px;
}

.index-input input:last-child {
	float: left;
	width: 90px;
	height: 34px;
	background: #fa4b9b;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
	cursor: pointer;
}

.search-words a {
	height: 12px;
	float: left;
	margin-top: 5px;
	line-height: 12px;
	padding: 0 12px;
	color: #666;
	border-left: 1px solid #d7d7d7;
}

.search-words a:first-child {
	border: none;
}

.search-words .pinkcolor {
	color: #fa4b9b;
}

.search-words a:hover {
	color: #fa4b9b;
}

.shop {
	float: left;
	margin: 28px 30px 0 28px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.shop em {
	font-style: normal;
	font-family: iconfont;
	width: 36px;
	height: 34px;
	float: left;
	font-size: 16px;
	color: #fff;
	background: #fa4b9b;
}

.shop span {
	width: 100px;
	height: 34px;
	float: left;
	font-size: 16px;
}

.index-nav-wrap {
	width: 100%;
	background: #ff3893;
}

.index-nav {
	width: 1100px;
	margin: 0 auto;
}

.index-nav-ul {
	margin-left: 230px;
	width: 870px;
	height: 46px;
	line-height: 46px;
}

.index-nav-ul li {
	float: left;
	height: 46px;
}

.index-nav-ul li a {
	float: left;
	font-size: 16px;
	color: #fff;
	padding: 0 20px;
}

.index-nav-ul li:hover {
	background: #ec0971;
}

.nav-second {
	display: none;
}

.index-nav-ul li:nth-of-type(4) {
	position: relative;
}

.index-nav-ul li:nth-of-type(4) span {
	display: inline-block;
	width: 12px;
	height: 13px;
	font-size: 10px;
	font-family: iconfont;
	margin-left: 5px;
	transition: transform .4s;
}

.index-nav-ul li:nth-of-type(4):hover span {
	transform: scale(-1, 1);
}

.index-nav-ul li .nav-second {
	top: 46px;
	width: 81px;
	position: absolute;
	z-index: 3;
}

.index-nav-ul li .nav-second a {
	width: 81px;
	float: left;
	color: #666;
	background: #fff;
}

.index-nav-ul li .nav-second a:hover {
	color: #fff;
	background: #ff3893;
}

.index-nav-ul li:nth-of-type(4):hover .nav-second {
	display: block;
}


.lunbo-nav ul .select {
	background: pink;
}

.index-center {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.index-nav-left {
	position: absolute;
	z-index: 1;
}

.index-nav-title {
	padding-left: 22px;
	width: 208px;
	height: 52px;
	float: left;
	margin-top: -49px;
	line-height: 50px;
	color: #fff;
	background: #ff3893;
	z-index: 2;
}

#index-nav-list{
	display:none;
}
.index-nav-left:hover #index-nav-list{
	display:block;
}
/*独立内容区块*/

#index-nav-list {
	position: relative;
	width: 230px;
	height: 593px;
	background: rgba(255, 255, 255, 0.7);
	color: #fff;
}

#index-nav-list ul {
	padding: 0 12px;
}

#index-nav-list li {
	width: 186px;
	height: 60px;
	padding: 5px 10px 9px;
	border-top: 1px dashed #969896;
}

#index-nav-list li:nth-of-type(1) {
	border: none;
}

#index-nav-list li strong {
	display: block;
	width: 182px;
	height: 21px;
}

#index-nav-list li p {
	display: block;
	width: 170px;
	height: 36px;
	margin-top: 3px;
}

#index-nav-list li a {
	float: left;
	color: #fb60a7;
	font-size: 14px;
}

#index-nav-list li p a {
	font-size: 12px;
	margin: 2px;
	color: #666;
}

#index-nav-list li p a:hover {
	color: #fb60a7;
}

.navCon {
	width: 870px;
	height: 390px;
	background: white;
	position: absolute;
	display: none;
	left: 230px;
	top: 2px;
}

.navCon-left {
	float: left;
	margin: 15px 25px;
	width: 530px;
	height: 300px;
	min-height: 300px;
	height: auto!important;
}

.navCon-left:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.navCon-left dl {
	width: 250px;
	/*float:left;*/
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.navCon-left dl:nth-of-type(odd) {
	margin-right: 20px;
}

.navCon-left dl dt {
	width: 250px;
	height: 21px;
	line-height: 21px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	border-bottom: 1px solid #969896;
}

.navCon-left dl dd {
	margin: 10px 0;
}

.navCon-left dl dd a {
	line-height: 2;
	margin: 0 5px;
	color: #999999;
}

.navCon-left dl dd a:hover {
	color: #fb60a7;
}

.navCon-right {
	width: 244px;
	float: right;
	margin: 15px 20px 15px 13px;
}

.navCon-right dl dt {
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	padding-bottom: 8px;
}

.navCon-right dl dd {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: -1px;
	margin-bottom: -1px;
	border: 1px solid #969896;
}

.navCon-right dl dd img {
	width: 80px;
	height: 80px;
}

/*
	独立内容区 
*/
#content{
	width:1100px;
	height:600px;
	margin:0 auto;
	min-height: 600px;
	height:auto!important;
}

#content:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.details-top{
	margin-top:10px;
}

.details-left{
	width:400px;
	padding:20px;
	float:left;
}
.details-left-bigImg{
	width:400px;
	height:400px;
	position:relative;
}
.details-left-bigImg img{
	width:400px;
	height:400px;
	position:absolute;
	display:none;
}
.details-left-bigImg .select{
	display:block;
}
.details-left-smalImg{
	height:72px;
	margin-top:20px;
}
.details-left-smalImg img{
	width:68px;
	height:68px;
	float:left;
	padding:2px;
	border:1px solid red;
	margin-right:15px;
}
.details-right{
	padding:20px;
	width:600px;
	height:500px;
	float:right;
}
.details-right-tit{
	padding:10px 0;
}
.details-right-tit h3{
	font-size:18px;
	font-weight:400;
	color:#000;
}
.details-right-bigtit{
	padding:5px;
}
.details-right-bigtit p{
	font-size:14px;
	color:#968888;
}
.details-right-price{
	padding:10px 15px;
	background:#ffcaca;
	border-radius:10px;
}
.details-right-price span:nth-of-type(1){
	font-size:16px;
	margin-right:80px;
}
.details-right-price span:nth-of-type(1) i{
	font-style: normal;
	font-size:22px;
	margin-left:10px;
	color:#ff4a49;
}
.details-right-price span:nth-of-type(2){
	font-size:14px;
	text-decoration: line-through;
	color:#666;
}
.details-right-check{
	padding:16px;
	height:70px;
}
.details-right-check span{
	float:left;
	font-size:16px;
	margin-top:10px;
}
.details-right-check i{
	display: inline-block;
	width:70px;
	height:70px;
	float: left;
	margin-left:20px;
	border:1px solid pink;
}
.details-right-check i img{
	width:68px;
	height:68px;
	padding:1px;
}
.details-right-pay{
	height:30px;
	padding:16px;
}
.details-right-pay span{
	font-size:16px;
}
.details-right-pay input{
	display:inline-block;
	width:60px;
	height:30px;
	margin-left:30px;
}
.details-right-goto{
	height:50px;
	padding:16px;
}
.details-right-goto button{
	height:50px;
	width:120px;
	font-size:18px;
	background:#fff;
	border:2px solid #ff4a49;
	border-radius:5px;
	outline: none;
	cursor: pointer;
}
.details-right-id{
	padding:16px;
	font-size:14px;
	color:#666;
}
.details-right-tellyou{
	padding:5px 16px;
}
.details-right-tellyou ul li {
	float:left;
	margin:0 10px;
	font-size:14px;
	color:#666;
}


.adtip{
	display: none;
}
.adtipleft{
	width:100px;
	height:248px;
	position:fixed;
	left:0;
	bottom:100px;
}
.adtip-right ul{
	width:52px;
	position:fixed;
	right:50px;
	bottom:100px;
	border-radius:7px;
	background:white;
	text-align: center;
	border:1px solid #CCCCCC;
}
.adtip-right  em{
	display: block;
	font-style: normal;
	font-family: iconfont;
	font-size:20px;
	line-height:20px;
	padding:4px 0 2px;
	color:#fa4b9b;
}
.adtip-right ul li{
	padding-bottom:4px;
	cursor: pointer;
	border-bottom:1px solid #CCCCCC;
}
.adtip-right ul li:nth-of-type(1):hover span{
	color:#fa4b9b;
}

.adtip-right ul .gotop{
	border: none;
	background:#fa4b9b;
	border-radius:0 0 7px 7px;
}
.gotop i{
	font-family:iconfont;
	font-style: normal;
	font-size:22px;
	color:white;
}

.weixin{
	position:relative;
}
.weixin img{
	position: absolute;
	top:-157px;
	left:-240px;
	display:none;
}


















.footer{
	background:white;
}
.footer1-wrap{
	width:100%;
	border-top:1px solid #dfdfdf;
}
.footer1{
	width:1100px;
	height:102px;
	margin:0 auto;
	padding:20px 0 15px;
	border-bottom:1px solid #dfdfdf;
}
.footer1 a{
	float:left;
	margin:0 8px;
}
.footer1 a dl{
	width:167px;
	height:102px;
	text-align: center;
}
.footer1 a dl dt i{
	display: block;
	width:60px;
	height:60px;
	font-family:iconfont;
	margin:0 auto;
	line-height: 60px;
	font-size:36px;
	font-style: normal;
	border-radius: 50%;
	border:2px solid #fa4b9b;
	color:#fa4b9b;
}
.footer1 a dl dd p{
	margin-top:5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}
.footer1 a dl dd span{
	color:#969896;
}
.footer2{
	width:1000px;
	height:168px;
	margin:0 auto;
	padding-top:15px;
}
.footer2-nav{
	margin-left:15px;
}
.footer2-nav ul{
	float:left;
	margin-left:20px;
}
.footer2-nav ul li{
	padding:0 20px;
	line-height: 26px;
	color:#666666;
}
.footer2-nav ul li a{
	color:#666666;
}
.footer2-nav ul li a:hover{
	color:#fa4b9b;
}
.footer2-nav ul li:nth-of-type(1){
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.footer2-right{
	float:right;
	width:168px;
	height:168px;
	padding-left:18px;
	border-left:1px solid #dfdfdf;
}
.footer2-r1{
	margin-top:8px;
}
.footer2-r1 li{
	float:left;
}
.footer2-r1 li:nth-of-type(1) img{
	width:76px;
	height:118px;
}
.footer2-r1 li:nth-of-type(2){
	margin-left:5px;
	position: relative;
	z-index=1;
}
.footer2-r1 li:nth-of-type(2) img{
	width:76px;
	height:59px;
}
.footer2-r1 li:nth-of-type(2) .imghover span img{
	width:191px;
	height:113px;
	position: absolute;
	left:-191px;
	top:0;
	display: none;
}
.footer2-r1 li:nth-of-type(2) .imghover:hover span img{
	display: block;
}
.footer3-wrap{
	width:100%;
	border-top:1px solid #dfdfdf;
}
.footer3{
	padding-top:15px;
	width:1000px;
	height:150px;
	margin:0 auto;
	text-align: center;
}
.footer3 p:nth-of-type(1){
	line-height: 22px;
	padding-bottom:10px;
}
.footer3 p:nth-of-type(1) a{
	margin:0 2px;
	padding:0 6px;
}
.footer3 a:hover{
	color:#fa4b9b;
}
.footer3 p{
	line-height:2;
	color:#969896;
}
