body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

ul,
li,
ol {
	list-style: none;
}

img,
fieldset {
	border: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
	background: #fff;
}

input,
a {
	outline: none;
}

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.index-phone {
	font-style: normal;
	font-family: iconfont;
	color: #fa4b9b;
}

.header-wrap {
	width: 100%;
	background: #f2f2f2;
}

.header {
	width: 1100px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
}

.header a {
	line-height: 30px;
	color: #666;
}

.header a:hover {
	color: #fa4b9b;
}

.index-list {
	float: right;
	line-height: 30px;
}

.index-list li {
	float: left;
	color: #666;
}

.index-list li a {
	float: left;
	margin: 0 10px;
}

.index-list li em {
	font-style: normal;
}

.index-top-wrap {
	height: 100%;
	background: #fff;
}

/*
	独立内容区 
*/
.content{
	width:1100px;
	height:300px;
	margin:0 auto;
	min-height: 300px;
	height:auto!important;
}

.content:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.shopcar-tit a{
	width:128px;
	height:73px;
	display:block;
	float:left;
}
.shopcar-tit a img{
	width:128px;
	height:73px;
}
.shopcar-tit span{
	display: inline-block;
	float:right;
	line-height:73px;
	font-size:16px;
	color:#fa4b9b;
}


















.adtip{
	display: none;
}
.adtipleft{
	width:100px;
	height:248px;
	position:fixed;
	left:0;
	bottom:100px;
}
.adtip-right ul{
	width:52px;
	position:fixed;
	right:50px;
	bottom:100px;
	border-radius:7px;
	background:white;
	text-align: center;
	border:1px solid #CCCCCC;
}
.adtip-right  em{
	display: block;
	font-style: normal;
	font-family: iconfont;
	font-size:20px;
	line-height:20px;
	padding:4px 0 2px;
	color:#fa4b9b;
}
.adtip-right ul li{
	padding-bottom:4px;
	cursor: pointer;
	border-bottom:1px solid #CCCCCC;
}
.adtip-right ul li:nth-of-type(1):hover span{
	color:#fa4b9b;
}

.adtip-right ul .gotop{
	border: none;
	background:#fa4b9b;
	border-radius:0 0 7px 7px;
}
.gotop i{
	font-family:iconfont;
	font-style: normal;
	font-size:22px;
	color:white;
}

.weixin{
	position:relative;
}
.weixin img{
	position: absolute;
	top:-157px;
	left:-240px;
	display:none;
}

.footer{
	background:white;
}
.footer1-wrap{
	width:100%;
	border-top:1px solid #dfdfdf;
}
.footer1{
	width:1100px;
	height:102px;
	margin:0 auto;
	padding:20px 0 15px;
	border-bottom:1px solid #dfdfdf;
}
.footer1 a{
	float:left;
	margin:0 8px;
}
.footer1 a dl{
	width:167px;
	height:102px;
	text-align: center;
}
.footer1 a dl dt i{
	display: block;
	width:60px;
	height:60px;
	font-family:iconfont;
	margin:0 auto;
	line-height: 60px;
	font-size:36px;
	font-style: normal;
	border-radius: 50%;
	border:2px solid #fa4b9b;
	color:#fa4b9b;
}
.footer1 a dl dd p{
	margin-top:5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}
.footer1 a dl dd span{
	color:#969896;
}
.footer2{
	width:1000px;
	height:168px;
	margin:0 auto;
	padding-top:15px;
}
.footer2-nav{
	margin-left:15px;
}
.footer2-nav ul{
	float:left;
	margin-left:20px;
}
.footer2-nav ul li{
	padding:0 20px;
	line-height: 26px;
	color:#666666;
}
.footer2-nav ul li a{
	color:#666666;
}
.footer2-nav ul li a:hover{
	color:#fa4b9b;
}
.footer2-nav ul li:nth-of-type(1){
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.footer2-right{
	float:right;
	width:168px;
	height:168px;
	padding-left:18px;
	border-left:1px solid #dfdfdf;
}
.footer2-r1{
	margin-top:8px;
}
.footer2-r1 li{
	float:left;
}
.footer2-r1 li:nth-of-type(1) img{
	width:76px;
	height:118px;
}
.footer2-r1 li:nth-of-type(2){
	margin-left:5px;
	position: relative;
	z-index=1;
}
.footer2-r1 li:nth-of-type(2) img{
	width:76px;
	height:59px;
}
.footer2-r1 li:nth-of-type(2) .imghover span img{
	width:191px;
	height:113px;
	position: absolute;
	left:-191px;
	top:0;
	display: none;
}
.footer2-r1 li:nth-of-type(2) .imghover:hover span img{
	display: block;
}
.footer3-wrap{
	width:100%;
	border-top:1px solid #dfdfdf;
}
.footer3{
	padding-top:15px;
	width:1000px;
	height:150px;
	margin:0 auto;
	text-align: center;
}
.footer3 p:nth-of-type(1){
	line-height: 22px;
	padding-bottom:10px;
}
.footer3 p:nth-of-type(1) a{
	margin:0 2px;
	padding:0 6px;
}
.footer3 a:hover{
	color:#fa4b9b;
}
.footer3 p{
	line-height:2;
	color:#969896;
}
